## Java

*.class
*.war
*.ear
hs_err_pid*

## GWT
war/
html/war/gwt_bree/
html/gwt-unitCache/
.apt_generated/
html/war/WEB-INF/deploy/
html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/x86/
android/gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

## Eclipse
.project
.classpath
core\.classpath
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

.gradle
gradle-app.setting
build/

## OS Specific
.DS_Store

*.classpath
*.classpath
core/.classpath
desktop/.classpath
core/.classpath
*.classpath
core/.classpath
desktop/images/assets.atlas
desktop/images/assets.png
desktop/images/assets.atlas.orig
desktop/images/assets.png.orig
html/.classpath
desktop/Logging.txt
desktop/Logging.txt.1
desktop/Logging.txt.lck
desktop/Logging.txt.1.lck
desktop/Logging.txt.2
desktop/Logging.txt.2.lck
desktop/Logging.txt.3
desktop/Logging.txt.3.lck
desktop/Logging.txt.4
desktop/Logging.txt.4.lck
desktop/Logging.txt.5
desktop/Logging.txt.5.lck
desktop/Logging.txt.6
desktop/Logging.txt.6.lck
desktop/Logging.txt.7
desktop/Logging.txt.7.lck
desktop/Logging.txt.8
desktop/Logging.txt.8.lck
desktop/Logging.txt.9
